E-Adventure/eadventure.dtd

<!ENTITY % conversation "tree-conversation | graph-conversation">
<!ENTITY % cutscene "videoscene | slidescene">

<!ELEMENT eAdventure ((scene | %cutscene;)+, book*, object*, player, character*, (%conversation;)*, timer*, global-state*, macro*,atrezzoobject*)>
<!ELEMENT scene (documentation?, resources+, name, default-initial-position?, exits?, objects?, characters?, active-areas?, barriers?, atrezzo?, trajectory?)>
<!ATTLIST scene
	id ID #REQUIRED
	start (yes | no) "no"
	playerLayer CDATA "-1"
	playerScale CDATA "1"
>
<!ELEMENT documentation ANY>
<!ELEMENT resources (condition?, asset+)>
<!ATTLIST resources
	id ID #IMPLIED
>
<!ELEMENT asset EMPTY>
<!ATTLIST asset
	type CDATA #REQUIRED
	uri CDATA #REQUIRED
	id ID #IMPLIED
	md-uri CDATA #IMPLIED
>
<!ENTITY % position "x NMTOKEN #REQUIRED y NMTOKEN #REQUIRED">
<!ENTITY % rectangle "%position; width NMTOKEN #REQUIRED height NMTOKEN #REQUIRED">
<!ENTITY % influence_area "influenceX NMTOKEN #IMPLIED influenceY NMTOKEN #IMPLIED influenceWidth NMTOKEN #IMPLIED influenceHeight NMTOKEN #IMPLIED">
<!ELEMENT default-initial-position EMPTY>
<!ATTLIST default-initial-position
	%position;
>
<!ELEMENT exits (exit+)>
<!ELEMENT exit (documentation?, exit-look?, next-scene+)>
<!ATTLIST exit
	%rectangle; 
>
<!ELEMENT exit-look EMPTY>
<!ATTLIST exit-look 
	text CDATA #IMPLIED
	cursor-path CDATA #IMPLIED
>
<!ELEMENT next-scene (condition?, exit-look?, effect?, post-effect?)>
<!ATTLIST next-scene
	idTarget IDREF #REQUIRED
	x NMTOKEN #IMPLIED
	y NMTOKEN #IMPLIED
>
<!ELEMENT trajectory (node*, initialnode?, side*)>
<!ELEMENT node EMPTY>
<!ATTLIST node
	id ID #REQUIRED
	x NMTOKEN #REQUIRED
	y NMTOKEN #REQUIRED
	scale CDATA #IMPLIED
>
<!ELEMENT side EMPTY>
<!ATTLIST side
   idStart IDREF #REQUIRED
   idEnd IDREF #REQUIRED
>
<!ELEMENT initialnode EMPTY>
<!ATTLIST initialnode
	id IDREF #REQUIRED
>


<!ELEMENT objects (object-ref+)>
<!ELEMENT object-ref (documentation?, condition?)>
<!ATTLIST object-ref
	idTarget IDREF #REQUIRED
	%position;
	scale CDATA #IMPLIED
	layer CDATA "-1"
	hasInfluenceArea (yes | no) "no" 
	%influence_area;
>

<!ELEMENT atrezzo (atrezzo-ref+)>
<!ELEMENT atrezzo-ref (documentation?, condition?)>
<!ATTLIST atrezzo-ref
	idTarget IDREF #REQUIRED
	%position;
	scale CDATA #IMPLIED
	layer CDATA "-1"
>

<!ELEMENT characters (character-ref+)>
<!ELEMENT character-ref (documentation?, condition?)>
<!ATTLIST character-ref
	idTarget IDREF #REQUIRED
	%position;
	scale CDATA #IMPLIED
	layer CDATA "-1"
	hasInfluenceArea (yes | no) "no" 
	%influence_area;
>

<!ELEMENT active-areas (active-area+)>
<!ELEMENT active-area (documentation?, condition?, description, actions?)>
<!ATTLIST active-area 
	id ID #IMPLIED
	%rectangle;  
>

<!ELEMENT barriers (barrier+)>
<!ELEMENT barrier (documentation?, condition?, description)>
<!ATTLIST barrier
	%rectangle;  
>


<!ELEMENT videoscene (documentation?, resources+, name, ( end-game? | next-scene* ))>
<!ATTLIST videoscene
	id ID #REQUIRED
	start (yes | no) "no"
>
<!ELEMENT slidescene (documentation?, resources+, name, ( end-game? | next-scene* ))>
<!ATTLIST slidescene
	id ID #REQUIRED
	start (yes | no) "no"
>
<!ELEMENT end-game EMPTY>
<!ELEMENT book (documentation?, resources+, (text | pages))>
<!ATTLIST book
	id ID #REQUIRED
>
<!ELEMENT pages (page)*>
<!ELEMENT page EMPTY>
<!ATTLIST page
	uri CDATA #REQUIRED
	type (url | resource) "url"
	margin CDATA #IMPLIED
	marginEnd CDATA #IMPLIED
	marginTop CDATA #IMPLIED
	marginBottom CDATA #IMPLIED
	scrollable (yes | no) "no" 
> 
<!ELEMENT text (#PCDATA | title | bullet | img)*>
<!ELEMENT title (#PCDATA)>
<!ELEMENT bullet (#PCDATA)>
<!ELEMENT img EMPTY>
<!ATTLIST img
	src CDATA #REQUIRED
>
<!ELEMENT atrezzoobject (documentation?, instance*, resources+, description	)>
<!ATTLIST atrezzoobject
	id ID #IMPLIED
>


<!ELEMENT object (documentation?, instance*, resources+, description, actions?)>
<!ATTLIST object
	id ID #IMPLIED
>
<!ELEMENT instance EMPTY>
<!ATTLIST instance
	id ID #REQUIRED
>
<!ELEMENT description (name, brief, detailed)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT brief (#PCDATA)>
<!ELEMENT detailed (#PCDATA)>
<!ELEMENT actions (examine | grab | use | use-with | give-to | custom | custom-interact )+>
<!ELEMENT examine (documentation?, condition?, effect?)>
<!ATTLIST examine
	needsGoTo (yes | no) "yes"
	keepDistance CDATA "10"
>
<!ELEMENT grab (documentation?, condition?, effect?)>
<!ATTLIST grab
	needsGoTo (yes | no) "yes"
	keepDistance CDATA "10"
>
<!ELEMENT use (documentation?, condition?, effect?)>
<!ATTLIST use
	needsGoTo (yes | no) "yes"
	keepDistance CDATA "10"
>
<!ELEMENT use-with (documentation?, condition?, effect?)>
<!ATTLIST use-with
	idTarget IDREF #REQUIRED
	needsGoTo (yes | no) "yes"
	keepDistance CDATA "10"
>
<!ELEMENT give-to (documentation?, condition?, effect?)>
<!ATTLIST give-to
	idTarget IDREF #REQUIRED
	needsGoTo (yes | no) "yes"
	keepDistance CDATA "35"
>
<!ELEMENT custom (resources*, documentation?, condition?, effect?)>
<!ATTLIST custom
	name CDATA #REQUIRED
	needsGoTo (yes | no) "no"
	keepDistance CDATA "0"
>
<!ELEMENT custom-interact (resources*, documentation?, condition?, effect?)>
<!ATTLIST custom-interact
	idTarget IDREF #REQUIRED
	name CDATA #REQUIRED
	needsGoTo (yes | no) "no"
	keepDistance CDATA "0"
>

<!ELEMENT voice EMPTY>
<!ATTLIST voice
	name CDATA #REQUIRED
	synthesizeAlways (yes | no) "no"
>

<!ELEMENT player (documentation?, resources+, textcolor?, description, voice?)>
<!ELEMENT character (documentation?, resources+, textcolor?, description, conversations?, voice?, actions?)>
<!ATTLIST character
	id ID #IMPLIED
>
<!ELEMENT textcolor (frontcolor, bordercolor)>
<!ELEMENT frontcolor EMPTY>
<!ATTLIST frontcolor
	color CDATA #REQUIRED
>
<!ELEMENT bordercolor EMPTY>
<!ATTLIST bordercolor
	color CDATA #REQUIRED
>
<!ELEMENT conversations (conversation-ref+)>
<!ELEMENT conversation-ref (documentation?, condition?)>
<!ATTLIST conversation-ref
	idTarget IDREF #REQUIRED
>

<!-- MODIFIED: EFFECT -->
<!ENTITY % dialogue "(speak-char|speak-player)*, effect?">
<!ENTITY % continuation "(response|end-conversation)">
<!ELEMENT tree-conversation (%dialogue;, %continuation;)>
<!ATTLIST tree-conversation
	id ID #REQUIRED
>
<!ELEMENT graph-conversation (dialogue-node | option-node)+>
<!ATTLIST graph-conversation
	id ID #REQUIRED
>

<!-- MODIFIED: EFFECT -->
<!ELEMENT dialogue-node ((speak-player | speak-char)*, (child | end-conversation), effect?)>
<!ATTLIST dialogue-node
	nodeindex CDATA #REQUIRED
>
<!ELEMENT option-node ((speak-player, child)*,effect?)>
<!ATTLIST option-node
	nodeindex CDATA #REQUIRED
	random (yes | no) "no"
>
<!ELEMENT child EMPTY>
<!ATTLIST child
	nodeindex CDATA #REQUIRED
>
<!ELEMENT speak-char (#PCDATA)>
<!ATTLIST speak-char
	idTarget IDREF #IMPLIED
	uri CDATA #IMPLIED
	synthesize (yes | no) "no"
>
<!ELEMENT speak-player (#PCDATA)>
<!ATTLIST speak-player
	uri CDATA #IMPLIED
	synthesize (yes | no) "no"
>
<!ELEMENT response ((option)*, effect?)>
<!ATTLIST response
	random (yes | no) "no" 
>
<!ELEMENT option (speak-player, %dialogue;, (%continuation; | go-back))>

<!ELEMENT go-back EMPTY>


<!ELEMENT timer (documentation?, init-condition?, end-condition?, effect?, post-effect?)>
<!ATTLIST timer 
	time NMTOKEN #REQUIRED
>

<!-- TODO: REMOVE EFFECT ONCE ALL SAMPLE GAMES HAD BEEN UPDATED -->
<!ELEMENT end-conversation (effect?)>
<!ENTITY % basic-condition "(active|inactive| 
							greater-than| greater-equals-than | equals| less-equals-than | less-than |
							global-state-ref )?">
<!ENTITY % general-condition "(%basic-condition; | either)+">
<!ELEMENT condition %general-condition;>
<!ELEMENT init-condition %general-condition;>
<!ELEMENT end-condition %general-condition;>

<!ELEMENT active EMPTY>
<!ATTLIST active
	flag NMTOKEN #REQUIRED
>
<!ELEMENT inactive EMPTY>
<!ATTLIST inactive
	flag NMTOKEN #REQUIRED
>
<!ELEMENT greater-than EMPTY>
<!ATTLIST greater-than
	var NMTOKEN #REQUIRED
	value NMTOKEN #REQUIRED
>
<!ELEMENT greater-equals-than EMPTY>
<!ATTLIST greater-equals-than
	var NMTOKEN #REQUIRED
	value NMTOKEN #REQUIRED
>
<!ELEMENT equals EMPTY>
<!ATTLIST equals
	var NMTOKEN #REQUIRED
	value NMTOKEN #REQUIRED
>
<!ELEMENT less-than EMPTY>
<!ATTLIST less-than
	var NMTOKEN #REQUIRED
	value NMTOKEN #REQUIRED
>
<!ELEMENT less-equals-than EMPTY>
<!ATTLIST less-equals-than
	var NMTOKEN #REQUIRED
	value NMTOKEN #REQUIRED
>

<!ELEMENT global-state-ref EMPTY>
<!ATTLIST global-state-ref
	id IDREF #REQUIRED
>
<!ELEMENT global-state (documentation?,%general-condition;)>
<!ATTLIST global-state
	id ID #REQUIRED
>

<!ELEMENT either (%basic-condition;)+>
<!ENTITY % effects "(activate | deactivate | set-value | increment | decrement | macro-ref | consume-object | generate-object | cancel-action | speak-player | speak-char | play-sound | play-animation | move-player | move-npc | trigger-book | trigger-conversation | trigger-cutscene | trigger-scene | trigger-last-scene | random-effect )*">
<!ENTITY % simple-effect "(activate | deactivate | set-value | increment | decrement | macro-ref | consume-object | generate-object | speak-player | speak-char | play-sound | play-animation | move-player | move-npc | trigger-book | trigger-conversation | trigger-cutscene | trigger-scene | trigger-last-scene )?">
<!ELEMENT effect (%effects;)>
<!ELEMENT random-effect (%simple-effect;, %simple-effect;)>
<!ATTLIST random-effect
	probability NMTOKEN #REQUIRED
>
<!ELEMENT post-effect (%effects;)>

<!ELEMENT activate EMPTY>
<!ATTLIST activate
	flag NMTOKEN #REQUIRED
>
<!ELEMENT deactivate EMPTY>
<!ATTLIST deactivate
	flag NMTOKEN #REQUIRED
>
<!ELEMENT set-value EMPTY>
<!ATTLIST set-value
	var NMTOKEN #REQUIRED
	value NMTOKEN #REQUIRED
>
<!ELEMENT increment EMPTY>
<!ATTLIST increment
	var NMTOKEN #REQUIRED
	value NMTOKEN #REQUIRED
>
<!ELEMENT decrement EMPTY>
<!ATTLIST decrement
	var NMTOKEN #REQUIRED
	value NMTOKEN #REQUIRED
>
<!ELEMENT macro (documentation?,%effects;)>
<!ATTLIST macro
	id ID #REQUIRED
>

<!ELEMENT macro-ref EMPTY>
<!ATTLIST macro-ref
	id IDREF #REQUIRED
>

<!ELEMENT consume-object EMPTY>
<!ATTLIST consume-object
	idTarget IDREF #REQUIRED
>
<!ELEMENT generate-object EMPTY>
<!ATTLIST generate-object
	idTarget IDREF #REQUIRED
>
<!ELEMENT cancel-action EMPTY>
<!ELEMENT trigger-conversation EMPTY>
<!ATTLIST trigger-conversation
	idTarget IDREF #REQUIRED
>
<!ELEMENT trigger-book EMPTY>
<!ATTLIST trigger-book
	idTarget IDREF #REQUIRED
>
<!ELEMENT play-sound EMPTY>
<!ATTLIST play-sound
	background (yes | no) "yes"
	uri CDATA #REQUIRED
>
<!ELEMENT play-animation EMPTY>
<!ATTLIST play-animation
	uri CDATA #REQUIRED
	x NMTOKEN #REQUIRED
	y NMTOKEN #REQUIRED
>
<!ELEMENT move-player EMPTY>
<!ATTLIST move-player
	x NMTOKEN #REQUIRED
	y NMTOKEN #REQUIRED
>
<!ELEMENT move-npc EMPTY>
<!ATTLIST move-npc
	idTarget IDREF #REQUIRED
	x NMTOKEN #REQUIRED
	y NMTOKEN #REQUIRED
>
<!ELEMENT trigger-cutscene EMPTY>
<!ATTLIST trigger-cutscene
	idTarget IDREF #REQUIRED
>
<!ELEMENT trigger-last-scene EMPTY>
<!ELEMENT trigger-scene EMPTY>
<!ATTLIST trigger-scene
	idTarget IDREF #REQUIRED
	x NMTOKEN #REQUIRED
	y NMTOKEN #REQUIRED
>
